@font-face {
    font-family: 'DroidSerif';
    src: url('../fonts/DroidSerif.eot');
    src: url('../fonts/DroidSerif.woff2') format('DroidSerif'),
         url('../fonts/DroidSerif.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerif';
    src: url('../fonts/DroidSerif.woff') format('woff'),
         url('../fonts/DroidSerif.ttf') format('truetype'),
         url('../fonts/DroidSerif.svg#DroidSerif') format('svg');
    font-weight: normal;
    font-style: normal;
}
