* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

body {
    font-family: 'DroidSerif';
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clear-float {
    clear: both;
}

.text-bold {
    font-weight: bold;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.inline-block {
    display: inline-block;
}

.vertical-align_middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
