.text-color_orange {
    color: #d45520;
}

.text-color_black-gray {
    color: #4b4b4b;
}

.text-color_almost-black {
    color: #272525;
}

.text-color_white {
    color: #ffffff;
}

.text-color_light-gray {
    color: #636363;
}