.full-width-slider {
    min-height: 540px;
    overflow: hidden; /* because for responsive */
    background: url(../../img/slide_1.jpg) no-repeat #1a1818 center center;
    background-size: cover;
}

.full-width-slider__oval img {
    animation-name: full-width-slider__oval;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes full-width-slider__oval {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.full-width-slider__navigator {
    position: absolute;
}
.full-width-slider__navigator div,
.full-width-slider__navigator div:hover,
.full-width-slider__navigator .av {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('../../img/bullets.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.full-width-slider__navigator div {
    background-position: -7px -7px;
}

.full-width-slider__navigator div:hover,
.full-width-slider__navigator .av:hover {
    background-position: -37px -7px;
}
.full-width-slider__navigator .av {
    background-position: -67px -7px;
}
.full-width-slider__navigator .dn,
.full-width-slider__navigator .dn:hover {
    background-position: -97px -7px;
}

.full-width-slider__wrapper {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 1800px;
    height: 600px;
    overflow: hidden;
    visibility: hidden;
}

.full-width-slider__oval {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.full-width-slider__oval-image {
    margin-top: -19.0px;
    position: relative;
    top: 50%;
    width: 38px;
    height: 38px;
}

.full-width-slider__slides {
    cursor: default;
    position: relative;
    top: 0;
    left: 0;
    width: 1800px;
    height: 600px;
    overflow: hidden;
}

.full-width-slider__navigator,
.full-width-slider__prototype {
    top: 20px;
}

@media (max-width:480px) {
    .full-width-slider {
        background: url(../../img/slide_1.jpg) no-repeat top center;
    }
}

@media (max-width:958px) {
    .full-width-slider {
        background: url(../../img/slide_1.jpg) no-repeat top center;
    }
}
